/.phpunit.cache
/node_modules
# /public/*
# /public
/public/build
/public/hot
/public/storage
/public/assets/gridphp
/public/assets/libs
/public/assets/json
/public/assets/images
/app/Classes
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/assets1
public/site
public/vendor
public/index1.php
public/logo.PNG
public/manifest-local.json
public/manifest-production.json
public/indx_bk.php
public/sw.js
public/robots.txt
public/offline.html
resources/assets
