/* Extra Small devices (phones) */
@media (max-width: 575.98px) {
    /* Your styles for extra small devices go here */

    .canvas-mb .mb-canvas-content {
        min-width: 220px !important;
    }

    .canvas-mb {
        width: 100% !important;
        max-width: 220px !important;
    }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles for small devices go here */
}

/* Medium devices (laptops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium devices go here */

    /* .tf-slideshow .wrap-slider {
        height: 360px !important;
    } */
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large devices go here */
}

/* X-Large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Your styles for X-Large devices go here */
}

/* XX-Large devices (extra large desktops) */
@media (min-width: 1400px) {
    /* Your styles for XX-Large devices go here */
}



@media (min-width: 576px) {

    /* sm */
    .w-sm-100 {
        width: 100% !important;
    }

    .canvas-mb .mb-canvas-content {
        min-width: 220px !important;
    }

    .canvas-mb {
        width: 100% !important;
        max-width: 220px !important;
    }
}

@media (min-width: 768px) {

    .canvas-mb .mb-canvas-content {
        min-width: 220px !important;
    }

    .canvas-mb {
        width: 100% !important;
        max-width: 220px !important;
    }

    /* md */
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }


}

@media (min-width: 992px) {

    /* lg */
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {

    /* xl */
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }
}

@media (min-width: 1400px) {

    /* xxl */
    .w-xxl-25 {
        width: 25% !important;
    }

    .w-xxl-50 {
        width: 50% !important;
    }

    .w-xxl-75 {
        width: 75% !important;
    }

    .w-xxl-100 {
        width: 100% !important;
    }
}
